.Edit-User-Header{
    padding-top: 15px;
    font-size: 40px;
    font-family: 'Overpass', sans-serif;
    color:#5CDB95;
}

.Edit-User-Container{
    padding-top: 15px;
    background-color: #202125;
    height: 92vh;
    width: 100%;
    border-radius: 15px;
    margin-top: 50px;
    padding-left: 15px;
}
.Edit-User-Modal-Header{
    padding-top: 25px;
    font-size: 20px;
    font-family: 'Overpass', sans-serif;
    color:#5CDB95;
}

.Edit-User-Redirect-Button{
    font-family: 'Overpass', sans-serif;
    width: 110px;
    font-size: 13px;
    background-color: #5CDB95;
    box-shadow: 2px 2px 15px -4px #5CDB95;
    border: solid 3px #5CDB95;
    color: #202125;
    margin-top: 25px;
    padding-top: 10px;
}

.Confirm-Edit-User-Button{
    font-family: 'Overpass', sans-serif;
    width: 110px;
    font-size: 13px;
    background-color: #5CDB95;
    box-shadow: 2px 2px 15px -4px #5CDB95;
    border: solid 3px #5CDB95;
    color: #202125;
    margin-top: 5px;
    padding-top: 10px;
}

#selectUserGender{
    color:#5CDB95;
}

#user-date-picker-dialog{
    color: #5CDB95;
}
.MuiPickersToolbar-toolbar{
    background-color: #5CDB95 !important;
}

.MuiPickersDay-daySelected{
    background-color: #5CDB95 !important;
}

.MuiButton-textPrimary{
    color: black !important;
}

.MuiButton-textPrimary:hover{
    background-color: #5CDB95 !important;
}

.MuiTypography-colorPrimary{
    color: #5CDB95 !important;
}
