@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap');
.Add-User-Tile{
    padding-top: 15px;
    background-color: #202125;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    margin-top: 50px;
}

.Add-User-Title{
    
    padding-left: 5px;
    padding-top: 15px;
    font-size: 30px;
    color:#5CDB95;
    font-family: 'Overpass', sans-serif;
}

.Small-Calendar-Tile{
    margin-top: 50px;
    padding-top: 15px;
    background-color: #202125;
    height: 40vh;
    width: 30vw;
    border-radius: 15px;
}

.Calendar-Style{
    font-size: 9px;
    color:#202125;
}

.My-Form-Add-User{
    width: 250px;
    background-color: transparent;
    border: solid 2px #5cdb95;
    color: white;
    height: 40px;
    padding-left: 15px;
}

.My-Form-Add-User:hover{
    background-color: transparent;
}

.My-Form-Add-User:focus,
.My-Form-Add-User:active{
    background-color: transparent;
    border: solid 2px #5cdb95;;
    outline: none;
    color: white;
}