@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap');
body{
    background-color:#5CDB95;
}

.Truck-Image{
    margin-top: 100px;
    width: 120%;
    height: 90%;
}

.Title-Label{
    font-family: 'Overpass', sans-serif;
    color:#05386B;
    font-size: 90px;
    margin-left: -10px;
}

.Message-Label{
    font-family: 'Overpass', sans-serif;
    color:#05386B;
    font-size: 20px;
}

.My-Form{
    border-radius: 20px;
    width: 250px;
    background-color: transparent;
    border: solid 2px #05386B;
    height: 40px;
    padding-left: 15px;
}

.My-Form:hover{
    background-color: transparent;
    border: solid 2px #edf5e1;
}
.My-Form:focus,
.My-Form:active{
    background-color: transparent;
    border: solid 2px #edf5e1;
    outline: none;
}

.My-Login-Button{
    border-radius: 50px;
    width: 100px;
    background-color: transparent;
    border: solid 3px #05386B;
    color: #05386B;
    margin-top: 10px;
}

.My-Login-Button:focus,
.My-Login-Button:hover{
    outline: none;
    box-shadow: none;
    background-color: transparent;
    border: solid 3px #edf5e1;
}

.text-muted{
    padding-left: 5px;
    padding-top: 2px;
}
