@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap');
body{
    /* background-color:#5CDB95; */
    background-color: rgb(22, 23, 27);
    /* background-color: rgb(251, 251, 251); */
}

.Truck-Image{
    margin-top: 100px;
    width: 120%;
    height: 90%;
}

.Title-Label{
    font-family: 'Overpass', sans-serif;
    /* color:#05386B; */
    color: #5CDB95;
    font-size: 90px;
    margin-left: -10px;
}

.Message-Label{
    font-family: 'Overpass', sans-serif;
    /* color:#05386B; */
    color: #5CDB95;
    font-size: 20px;
}

.My-Form{
    width: 250px;
    background-color: transparent;
    border: solid 2px #5cdb95;
    color: white;
    height: 40px;
    padding-left: 15px;
}
.My-Form::placeholder{
    color: #c4c3c3;
}

.My-Form:hover{
    background-color: transparent;
    border: solid 2px white;
}
.My-Form:focus,
.My-Form:active{
    background-color: transparent;
    border: solid 2px white;
    outline: none;
}

.My-Login-Button{
    font-family: 'Overpass', sans-serif;
    width: 100px;
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
    background-color: #5cdb95;
    border: solid 3px #5cdb95;
    color: #202125;
    box-shadow: 2px 2px 15px -4px rgba(92,219,149,1);
    margin-top: 10px;
}

.My-Login-Button:focus,
.My-Login-Button:hover{
    outline: none;
    box-shadow: none;
    background-color: transparent;
    border: solid 3px white;
    color: white;
}

.text-muted{
    padding-left: 5px;
    padding-top: 2px;
    color: white;
}

.Greeting-User-Message{
    font-family: 'Overpass', sans-serif;
    color: #5CDB95;
}
