@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap');

.Nav-Link{
    color: #5CDB95;
    /* color:#05386B; */
    font-size: 14px;
    margin-right: 30px;
    font-family: 'Overpass', sans-serif;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    border: 3px solid transparent;
}

.Nav-Link:hover{
    text-decoration: none;
    color: white;
}
