@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap');

.Orderer-Navigation-Container{
    height: 754px;
    width: 280px;
    background-color:#05386B;
    font-family: 'Overpass', sans-serif;
    color:#5CDB95;
}

.Orderer-Nav-Link{
    margin-left: auto;
    margin-right: auto;
    color:#5CDB95;
    font-size: 13px;
    font-family: 'Overpass', sans-serif;
    padding-top: 10px;
    height: 35px;
    margin-top: 20px;
    width: 160px;
    text-align: left;
}

.Orderer-Nav-Link:hover{
    text-decoration: none;
    color: #edf5e1;
}