.Add-Warehouse-Container{
    padding-top: 15px;
    background-color: #202125;
    height: 85vh;
    width: 100%;
    border-radius: 15px;
    margin-top: 50px;
}

.Add-Warehouse-Text-Fields{
    border-color: whitesmoke;
    color: white;
}

.Add-Warehouse-Header{
    padding-top: 15px;
    font-size: 40px;
    font-family: 'Overpass', sans-serif;
    color:#5CDB95;
}