.Warehouse-Tile{
    background-color: #202125;
    height: 25vh;
    border-radius: 15px;
}

.Warehouse-Table-Header{
    padding-top: 15px;
    font-size: 26px;
    font-family: 'Overpass', sans-serif;
    color:#5c8bdb;
}

.Warehouses-Table-Container{
    margin-top: 15px;
    height: 62vh;
    background-color: #202125;
    color: #5c8bdb;
    padding-top: 15px;
    padding-bottom: 20px;
    border-radius: 15px;
    font-family: 'Overpass', sans-serif;
}

.Warehouses-Data-Table{
    padding-left: 25px;
    padding-right: 25px;
    font-size: 13px;
    font-family: 'Overpass', sans-serif;
}

.Warehouse-Details-Header{
    font-size: 30px;
    font-family: 'Overpass', sans-serif;
    color: #5c8bdb;
    padding-top: 15px;
}

.Warehouse-Details-Sub{
    font-size: 14px;
    font-family: 'Overpass', sans-serif;
    color: whitesmoke;
    padding-top: 15px;
}

.Warehouse-Details-Icon{
    color: #5c8bdb;
    size: 1em;
}
.Warehouse-Details-Icon:hover{
    color: whitesmoke;
}

.Add-Warehouse-Redirect-Button{
    font-family: 'Overpass', sans-serif;
    width: 100px;
    font-size: 13px;
    background-color: #5c8bdb;
    box-shadow: 2px 2px 15px -4px #5c8bdb;
    border: solid 3px #5c8bdb;
    color: #202125;
    margin-top: 5px;
    padding-top: 10px;
}