.Edit-Customer-Container{
    margin-top: 50px;
    height: 88vh;
    background-color: #202125;
    color: #5cdb95;
    padding-top: 15px;
    padding-bottom: 20px;
    border-radius: 15px;
    font-family: 'Overpass', sans-serif;
}

