.Error-Code-Label{
    font-family: 'Overpass', sans-serif;
    color:#5CDB95;
    font-size: 90px;
    margin-left: -10px;
}

.Error-Message-Label{
    font-family: 'Overpass', sans-serif;
    color:#5CDB95;
    font-size: 20px;
}

.Home-Redirect-Button{
    font-family: 'Overpass', sans-serif;
    font-size: 13px;
    width: 100px;
    background-color: #5CDB95;
    border: solid 3px #5CDB95;
    color: #202125;
    box-shadow: 2px 2px 15px -4px rgba(92,219,149,1);
    margin-top: 10px;
    padding-top: 10px;
}

.Home-Redirect-Button:focus,
.Home-Redirect-Button:hover{
    outline: none;
    box-shadow: none;
    background-color: transparent;
    border: solid 3px #edf5e1;
    color: white;
}